<app-nav></app-nav>
<h1>Administrador</h1>

<div id="cards" *ngFor="let item of getTareas">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{item.nombre}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>{{item.recordatorio}}</mat-card-content>
      <mat-card-content>{{item.estado}}</mat-card-content>
      <mat-card-actions>
        <button *ngIf="!btnResolver" href="#arriba" mat-icon-button (click)="resolverTarea(item.id)" >
          <span class="material-icons md-15 orange500 ">done</span>
        </button>
        <button href="#arriba" mat-icon-button (click)="delete(item.id)" >
          <span class="material-icons md-15 orange500 ">delete</span>
        </button>
        <button href="#arriba" mat-icon-button (click)="editarTarea(item.id)" >
          <span class="material-icons md-15 orange500 ">edit</span>
        </button>
      </mat-card-actions>
    </mat-card>
    <br>
  </div>
