<app-nav></app-nav>
<h1>Administrador</h1>

<!-- <div id="cards" *ngFor="let item of getTareas">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Para: {{item.jefe}}</mat-card-title>
      </mat-card-header>
      <h3><b>De: {{item.nombre}}</b></h3>
      <mat-card-content>{{item.recordatorio}}</mat-card-content>
      <mat-card-content>{{item.estado}}</mat-card-content>
      <mat-card-actions>
        <button *ngIf="!btnResolver" href="#arriba" mat-icon-button (click)="resolverTarea(item.id)" >
          <span class="material-icons md-15 orange500 ">done</span>
        </button>
        <button href="#arriba" mat-icon-button (click)="delete(item.id)" >
          <span class="material-icons md-15 orange500 ">delete</span>
        </button>
        <button href="#arriba" mat-icon-button (click)="editarTarea(item.id)" >
          <span class="material-icons md-15 orange500 ">edit</span>
        </button>
      </mat-card-actions>
    </mat-card>
    <br>
  </div> -->
  <div id="cards" class="card mb-3" [ngStyle]="{'background-color':item.estado=='pendiente'?'#f762714f':'#81ff4256'}" style="width: 90%;"*ngFor="let item of getTareas">
    <div class="card-body" style= "background-color: #ffffffd7; border-radius: 10px;">
      <div class="card-header" style= "background-color: #ffffffd7;">
        
        <img *ngIf="item.comentario && item.coment" src="assets/noti.png" class="rounded float-end">
        <h3 class="card-title mb-0"><b>{{item.fecha}}</b></h3>
      <h3 class="card-title mb-0"><b>Para:</b> {{item.jefe}}</h3>
      <h4 class="card-subtitle mb-3"><b>De:</b> {{item.nombre}}</h4>
      </div>
      <p class="card-text"><b>Tarea:</b> {{item.recordatorio}}</p>
      <div class="card-footer" style= "background-color: #ffffffd7;">
        
        <p class="card-text" style= "background-color: #ffffffd7;" *ngFor="let cmd of item.comentario"><b>COMENTARIO DE: </b>{{cmd}}</p>

        <button  mat-icon-button (click)="delete(item.id)" >
          <span class="material-icons md-15 orange500 ">delete</span>
        </button>
        <button  mat-icon-button (click)="comentarTarea(item.id)" >
          <span class="material-icons md-15 orange500 ">add</span>
        </button>
      </div>
      
    </div>
  </div>
