/* Estilos para el cuerpo de la página */
body {
    margin: 0;
    padding: 0;
    height: 500vh;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background: linear-gradient(to bottom right, #4e6bff, #00b0ff); /* Fondo gradiente azul */
  }
  .floatButton{
    position: center;
    bottom: 5px;
    right: 0px;
    left: 5px;
    width: 30px;
    height: 30px;
    top: 5px;
  }
  form {
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex;
    flex-direction: column; /* Elementos uno debajo del otro */
    margin-left:5%;
    margin-right:5%;
    margin-top: 30px;
  }
  #logOut{
    font-size: 0.6em;
    background-color: #3a5bff75; /* Azul */
    margin: 5px;
    margin-top: 0%; 
    color: #fff;
  }
  #logOut:hover{
    background-color: #4e6bff;
    color: #fff;
  }
  h1 {
    color: #adadad; /* Texto blanco */
    font-family: Arial, sans-serif; /* Tipo de letra */
    font-size: 2.5em; /* Tamaño de letra */
    margin-bottom: 20px; /* Espacio inferior */
  }
  mat-card-subtitle{
    color: #000000;
    font-size: 0.9em;
    margin-left: 15px;

  }
  
 #nombreDesactivado{
    color: #000000;
    font-size: 1.9em;
    height: auto;
  }


  #tarea{
    padding: 5px 10px;
    text-align: start;
    width: 40%;
    
  }
  #nombre{
    padding: 5px 10px;
    text-align: start;
    width: 10%;
  }
  #estado{
    padding: 5px 10px;
    text-align: start;
    border: 1px solid #999;
    background-color: #4e6bff;
    color: #fff;
    width: 10%;
  }
  #btnFiltrar{
    background-color: #4e6bff; /* Azul */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  #btnTodas{
    background-color: #4e6bff; /* Azul */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s ease;
  }
  

  #cards{
    
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex;
    flex-direction: column; /* Elementos uno debajo del otro */
    margin-left:5%;
    margin-right:5%;
    margin-top: 10px;

  }
  .card-body{
    background-color: #80f76238;
  }
  #divBar{
    display: flex;
    flex-direction: row;
    border-collapse: collapse;
    margin-left:5%;
    margin-right:5%;
    margin-top: 5px;
        
  }
  #btnFormularios1{
    
    background-color:  #4e6bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 5px 5px;
    padding: 5px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  #btnFormularios2{
    
    background-color:  #4e6bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 5px 5px;
    padding: 5px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  #btnFormularios3{
    
    background-color:  #4e6bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 5px 5px;
    padding: 5px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  #estadoRojo{
    background-color: red;
  }
  #estadoVerde{
    background-color: green;
  }
  #cardinterna{
    background-color: #e3e2e27a;

  }
  .material-icons.orange500 { color: #000000; background-color: #e3e2e200;}
  #pronto{
    background-color: #4e6bff;
    color: #fff;
    margin-left:  8px;
    font-size: 0.8em;
    padding: 5px 5px; 
  }

  
  /* Estilos para los campos de texto */
  .mat-form-field {
    width: 100%;
    margin-bottom: 20px; /* Espacio entre los campos */
  
  }
  .mat-form-field.mat-form-field-lg {
    width: 100%;
    height: 400px; /* Altura deseada para el campo */
  }
  /* Estilos para el botón de enviar */
  button[type="submit"] {
    background-color: #4e6bff; /* Azul */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0038ff; /* Azul más ofscuro al pasar el ratón */
  }
  textarea#textoTarea {
    height: 200px;

  }
  
  
  