<app-navtareas></app-navtareas>
<div>  
    <form novalidate [formGroup]="formulario" >
      
      <h1 name="arriba" >Agregar tarea</h1>
      <mat-form-field id="nombreDesactivado">
       <input id="inputDesactivado" matInput type="text" formControlName="nombre">{{nombreUser}}</mat-form-field>
       <mat-form-field>
        <mat-label>Para quien es la Tarea</mat-label>
        <mat-select [(value)]="selected" formControlName="jefe">
          <mat-option value="Cap Paz">Cap Paz</mat-option>
          <mat-option value="Tte Clara">Tte Clara</mat-option>
          <mat-option value="Ambos">Ambos</mat-option>

        </mat-select>
      </mat-form-field>
      <mat-form-field>
        
        <mat-label id="tarea">Tarea</mat-label>
        <textarea id="textoTarea" matInput type="text" formControlName="recordatorio"></textarea>
      </mat-form-field>
      <div >
      <button id="btnFormularios1" *ngIf="!EditarTarea" mat-flat-button (click)="AgregarTarea()">ENVIAR</button>
      <button id="btnFormularios2" *ngIf="EditarTarea" mat-flat-button (click)="confirmarEdicionTarea()">EDITAR</button>
      <button id="btnFormularios3" *ngIf="EditarTarea" mat-flat-button (click)="btnCancelar()">CANCELAR</button>
    </div>
      
     
    </form>
<div id="divBar">
<!-- <button id="btnTodas" mat-stroked-button (click)="todasLasTareas()">Todas las Tareas</button> -->
<button id="btnTodas" mat-stroked-button (click)="todasLasTareas()">Todas las Tareas</button>
<button id="btnFiltrar" mat-stroked-button (click)="vistaTareas(btntareasToggle)">{{btntareas}}</button>

</div>
    <div id="cards" *ngFor="let item of getTareas">
      <mat-card id="cardinterna">
        <mat-card-header>
          <mat-card-title>{{item.jefe}}</mat-card-title>
        </mat-card-header>
        <mat-card-subtitle>{{item.nombre}}</mat-card-subtitle>
        <mat-card-content>{{item.recordatorio}}</mat-card-content>
        <div>
        <mat-card-subtitle>{{item.estado}}</mat-card-subtitle>

        <button href="#arriba" mat-icon-button (click)="editarTarea(item.id)" >
          <span class="material-icons md-15 orange500 ">edit</span>
        </button>
        <button href="#arriba" mat-icon-button (click)="delete(item.id)" >
          <span class="material-icons md-15 orange500 ">delete</span>
        </button>
        
      </div>
      
      </mat-card>
      <br>
    </div>
    <!-- <table id="tabla" mat-table [dataSource]="getTareas" class="mat-elevation-z8">


      <ng-container matColumnDef="NOMBRE">
        <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
        <td id="nombre" mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
    

      <ng-container matColumnDef="TAREA">
        <th mat-header-cell *matHeaderCellDef> TAREA </th>
        <td id="tarea" mat-cell *matCellDef="let element"> {{element.recordatorio}} </td>
      </ng-container>

      <ng-container matColumnDef="ESTADO">
        <th id="estado" *matHeaderCellDef> ESTADO </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->
</div>
