  /* Estilos para el formulario */
  form {
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex;
    flex-direction: column; /* Elementos uno debajo del otro */
    margin-left:5%;
    margin-right:5%;
    margin-top: 30px;
  }