/* Estilos para el cuerpo de la página */
body {
    margin: 0;
    padding: 0;
    height: 500vh;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background: linear-gradient(to bottom right, #4e6bff, #00b0ff); /* Fondo gradiente azul */
  }
  
  /* Estilos para el formulario */
  form {
    background-color: #fff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex;
    flex-direction: column; /* Elementos uno debajo del otro */
    margin-left:25%;
    margin-right: 25%;
    margin-top: 30px;
  }
  
  /* Estilos para los campos de texto */
  .mat-form-field {
    width: 100%;
    margin-bottom: 20px; /* Espacio entre los campos */
  
  }
  .mat-form-field.mat-form-field-lg {
    width: 100%;
    height: 400px; /* Altura deseada para el campo */
  }
  /* Estilos para el botón de enviar */
  button[type="submit"] {
    background-color: #4e6bff; /* Azul */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0038ff; /* Azul más oscuro al pasar el ratón */
  }
  /* input#textoTarea {
    height: 200px;
    text-align-all: start ;
  
  
  } */
  
  