  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/tareas', nombreUser]"  routerLinkActive="active">Departamento de Electrónica Médica</a>
      
      <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h2 class="offcanvas-title" id="offcanvasDarkNavbarLabel">{{nombre}}</h2>
          
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        
        <div class="offcanvas-body">
          <h3 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Sector: {{rol}}</h3>
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="['/administrador', nombreUser]"  routerLinkActive="active">Administrador</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  [routerLink]="['/pass', nombreUser]"  routerLinkActive="active">Cambio Password</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-link "  (click)="onclick()"><span class="material-icons md-36">logout</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>